# Large model files - too big for GitHub
models/**/*.pkl

# Data files
*.csv

# System files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# CatBoost info
catboost_info/
